@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900";
a {
	color: rgba(0, 0, 0, 1.0);
	text-decoration: none;
}
body {
	margin: 40px 0px 0px 0px;
	padding: 0px;
}
div.menubar {
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
}
div.menubar p {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0px;
	padding: 10px;
}
div.menubar-background {
	background: rgba(219, 219, 219, 0.5);
	padding: 22px;
	position: fixed;
	top: 0px;
	width: 100%;
}
div.menubar-left {
	float: left;
}
div.menubar-right {
	float: right;
}
div.item {
	margin: 10px auto;
	max-width: 250px;
	min-width: 150px;
	padding: 10px 20px;
}
div.item:hover {
	background: rgba(219, 219, 219, 0.5);
	border-radius: 5px;
}
div.item p {
	margin: 0px auto;
	max-width: 150px;
	overflow: hidden;
}
div.listing {
	margin: 0px auto;
	padding: 0px;
	width: 90%;
}
p {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 0px;
	padding: 2px 4px;
}
table {
	margin: 20px auto;
	padding: 0px;
	width: 100%;
}
td {
	margin: 0px;
	padding: 0px;
	width: 20%;
}
tr {
	margin: 0px;
	padding: 0px;
}